# Default ignored files
/../../ProjectArray./.idea/shelf/
/../../ProjectArray./.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\milad\IdeaProjects\ProjectArray.\.idea/dataSources/
/../../ProjectArray./.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../ProjectArray./.idea/httpRequests/
